@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Grotesk:wght@300&display=swap');

:root{
    --red: #ef1923;
    --dark: #120a21;
    --black: #050505;
    --white: #ffffff;
    --font-main: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #EF1923 rgba(255,255,255, 0);
}

*::selection{
    background-color: #ef1923;
    color: var(--white);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(255,255,255, 0);
}
  
*::-webkit-scrollbar-track:hover {
    background-color: rgba(255,255,255, 0);
}
  
*::-webkit-scrollbar-track:active {
    background-color: rgba(255,255,255, 0);
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #EF1923;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: #F01923;
}
  
*::-webkit-scrollbar-thumb:active {
    background-color: #ef1923;
}

body{
    background-image: url("./img/Background.png");
    background-size: cover;
    background-attachment: fixed;
}

#header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 4rem;
}

#header > img {
    width: 8vw;
}

#main {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#main > #title{
    font-family: 'Russo One', sans-serif;
    color: var(--white);
    font-size: 5vw;
}

#main > #title > span {
    font-family: 'Russo One', sans-serif;
    color: var(--red);
}

#main > #description {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 1vw;
    margin: 16px 0 0 0;
}

#main > .logo{
    position: absolute;
    right: 0;
    opacity: 0.05;
    width: 60vw;
    z-index: -1;
}

#our-services {
    width: 100%;
    height: 80%;
    background-color: var(--white);
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#our-services > .title-services {
    font-family: 'Russo One', sans-serif;
    color: var(--black);
    font-size: 2vw;
}

#our-services > .title-services > span {
    font-family: 'Russo One', sans-serif;
    color: var(--red);
}

#our-services > .description-services {
    color: var(--black);
    letter-spacing: 1px;
    font-size: 0.8vw;
    margin: 16px 0 32px 0;
}

#our-services > .description-services > span {
    color: var(--white);
    background-color: var(--red);
}

#our-services > .card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

#our-services > .card-group > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 35px -6px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 9px 35px -6px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 9px 35px -6px rgba(0,0,0,0.47);
    border-radius: 16px;
    padding: 4rem 2rem;
    width: 20%;
}

#our-services > .card-group > .card > .card-title {
    font-family: 'Russo One', sans-serif;
    color: var(--black);
    font-size: 1vw;
}

#our-services > .card-group > .card > img {
    width: 15vw;
}

#our-services > .card-group > .card > .card-description {
    text-align: center;
    font-size: 0.6vw;
}

@media only screen and (max-width: 768px) {
    #header {
        justify-content: center;
    }

    #main {
        align-items: center;
        text-align: center;
    }

    #our-services > .card-group {
        flex-direction: column;
        align-items: center;
    }

    #our-services > .card-group > .card {
        width: 90%;
    }

    #our-services > .card-group > .card > .card-title {
        font-size: 2vw;
    }

    #our-services > .card-group > .card > .card-description {
        font-size: 1.2vw;
    }
}